<header
  class="d-flex fixed-top p-2 justify-content-between align-items-center bg-white"
>
  <a class="text-black icon-link icon-link-hover text-decoration-none" href="#">
    <i class="fa-solid fa-store"></i>
    Greglist
  </a>
  <nav class="">
    <div class="header__menu-btn btn-group">
      <i
        role="button"
        class="fa-solid fa-bars"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      ></i>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">Home</a></li>
        <li><a class="dropdown-item" href="#">My Listing</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/create-post">Create Post</a></li>
      </ul>
    </div>
  </nav>
</header>
