<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Post</title>
    <%- include('partials/_meta') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="d-flex flex-column gap-2 p-2">
      <form id="create-product" class="row g-2">
        <div class="mb-3">
          <label for="upload-image" class="form-label d-none"
            >Default file input example</label
          >
          <input class="form-control" type="file" id="upload-image" />
        </div>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="input-title"
            placeholder="Title"
          />
          <label for="input-title">Title</label>
        </div>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="input-price"
            placeholder="Price"
          />
          <label for="input-title">Price</label>
        </div>

        <div>
          <textarea
            type="text"
            class="form-control"
            id="textarea-description"
            placeholder="Add description to your listing..."
          ></textarea>
        </div>

        <div class="w-100">
          <button type="submit" class="btn btn-primary w-100">
            Create post
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
