<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Post</title>
    <%- include('partials/_meta') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <section>
      <main class="d-flex flex-column flex-md-row gap-4 p-2">
        <!-- Render card as you create the post -->
        <div></div>

        <!-- Form -->
        <div class="w-100">
          <header class="my-2">
            <h1 class="h3">Create listing</h1>
            <hr class="mb-0" />
          </header>

          <form
            id="form"
            class="d-flex flex-column gap-2 needs-validated"
            novalidate
          >
            <div>
              <label for="upload-image" class="form-label d-none"
                >Default file input example</label
              >
              <input
                class="form-control"
                accept="image/png, image/jpeg"
                type="file"
                id="upload-image"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please upload an image</div>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="title"
                placeholder="Title"
                required
              />
              <label for="title">Title</label>
              <div class="invalid-feedback">Please choose a title</div>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="price"
                pattern="^[1-9]\d*$"
                placeholder="Price"
                required
              />
              <label for="title">Price</label>
              <div class="invalid-feedback">Please choose a valid price</div>
            </div>

            <div>
              <textarea
                type="text"
                class="form-control"
                id="description"
                placeholder="Add description to your listing..."
                required
              ></textarea>
              <div class="invalid-feedback">Please choose a description</div>
            </div>

            <div class="w-100">
              <button type="submit" class="btn btn-primary w-100">
                Create post
              </button>
            </div>
          </form>
        </div>
      </main>
    </section>
  </body>
</html>
