<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <%- include('partials/_meta') %>
  </head>

  <body>
    <%- include('partials/_header') %>

    <div class="content-wrapper">

      <!-- Searchbar  -->
      <div class="searchbar w-100 d-flex align-items-center gap-3 py-5 pb-2">
        <form class="form-floating w-100">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i
                role="button"
                data-bs-content="Top popover"
                class="fa-solid fa-search"
              ></i
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Searcch for items"
            />
          </div>
        </form>
        <div class="btn-group">
          <button
            type="button"
            id="filter-btn"
            class="btn btn-primary dropdown-toggle"
          >
            <i role="button" class="fa-solid fa-filter"></i>
          </button>
        </div>
      </div>

      <!-- Filter form, opens on filter btn press -->
      <ul class="filter-form p-0" id="filter-form">
        <div class="d-flex gap-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="Min price" />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Max price" />
          </div>
        </div>
      </ul>

      <!-- Render product cards -->
      <main></main>
    </div>
  </body>
</html>
