<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/styles/cards.css" type="text/css" />

    <title>Home Page</title>
    <script defer src="/scripts/app.js"></script>
    <%- include('partials/_meta') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="d-flex flex-column gap-2 p-2">
      <!-- Searchbar  -->
      <div class="w-100 d-flex align-items-center gap-3 pb-2">

        <form class="form-floating w-100">
          <div class="input-group">
            <span class="input-group-text">
              <i
                class="fa-solid fa-search"
              ></i
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Search for items"
            />
          </div>
        </form>

        <div class="btn-group">
          <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filter-form"
            aria-controls="filter-form"
            aria-expanded="false"
            aria-label="Toggle filter form"
            class="btn btn-primary dropdown-toggle"
          >
            <i role="button" class="fa-solid fa-filter"></i>
          </button>
        </div>
      </div>

      <!-- Filter form, opens on filter btn press -->
      <div
        class="collapse rounded border-dark-subtle border border-1"
        id="filter-form"
      >
        <ul class="d-flex gap-2 p-3 m-0">
          <li class="input-group col">
            <span class="input-group-text" >
              <i
                class="fa-solid fa-dollar"
              ></i
            ></span>
            <input
              type="text"
              class="form-control input-dark"
              placeholder="Min price"
            />
          </li>
          <li class="input-group col">
            <span class="input-group-text" >
              <i
                role="button"
                data-bs-content="Top popover"
                class="fa-solid fa-dollar"
              ></i
            ></span>
            <input
              id="price-max"
              type="text"
              class="form-control"
              placeholder="Max price"
            />
          </li>
        </div>
      </div>

      <!-- Render product cards -->
      <main>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-4">
              <div class="card-wrapper">
                <div class="card">
                  <div class="image-container">
                    <div class="square-image">
                      <img src="/images/productsample.jpg" class="img-fluid">
                      <h2 class="overlay-text">SOLD</h2>
                    </div>
                    <button class="favorite-btn">
                      <i class="fas fa-heart"></i>
                    </button>
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="sold-btn">
                      <i class="fa-solid fa-tag"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">Product Name</h5>
                      <p class="card-text float-right">$99.95</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-6 col-sm-12 col-lg-4">
              <div class="card-wrapper">
                <div class="card">
                  <div class="image-container">
                    <div class="square-image">
                      <img src="/images/productsample.jpg" class="img-fluid">
                    </div>
                    <button class="favorite-btn">
                      <i class="fas fa-heart"></i>
                    </button>
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="sold-btn">
                      <i class="fa-solid fa-tag"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">Product Name</h5>
                      <p class="card-text float-right">$99.95</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4">
              <div class="card-wrapper">
                <div class="card">
                  <div class="image-container">
                    <div class="square-image">
                      <img src="/images/productsample.jpg" class="img-fluid">
                    </div>
                    <button class="favorite-btn">
                      <i class="fas fa-heart"></i>
                    </button>
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="sold-btn">
                      <i class="fa-solid fa-tag"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">Product Name</h5>
                      <p class="card-text float-right">$99.95</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4">
              <div class="card-wrapper">
                <div class="card">
                  <div class="image-container">
                    <div class="square-image">
                      <img src="/images/productsample.jpg" class="img-fluid">
                    </div>
                    <button class="favorite-btn">
                      <i class="fas fa-heart"></i>
                    </button>
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button class="sold-btn">
                      <i class="fa-solid fa-tag"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">Product Name</h5>
                      <p class="card-text float-right">$99.95</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4">
              <div class="card-wrapper">
                <div class="card">
                  <div class="image-container">
                    <div class="square-image">
                      <img src="/images/productsample.jpg" class="img-fluid">
                    </div>
                    <button class="favorite-btn">
                      <i class="fas fa-heart"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text float-right">$99.95</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4">
              <div class="card">
                asdfd
              </div>
            </div>
          </div>


        </div>

      </main>
    </div>
  </body>
</html>
