<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include('partials/_meta') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="d-flex flex-column gap-2 p-2">
      <!-- Searchbar  -->
      <div class="w-100 d-flex align-items-center gap-3 pb-2">

        <form class="form-floating w-100">

          <div class="input-group">
            <span class="input-group-text">
              <i
                class="fa-solid fa-search"
              ></i
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Search for items"
            />
          </div>
        </form>

        <div class="btn-group">
          <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filter-form"
            aria-controls="filter-form"
            aria-expanded="false"
            aria-label="Toggle filter form"
            class="btn btn-primary dropdown-toggle"
          >
            <i role="button" class="fa-solid fa-filter"></i>
          </button>
        </div>
      </div>

      <!-- Filter form, opens on filter btn press -->
      <form
        class="collapse rounded border-dark-subtle border border-1"
        id="filter-form"
      >
        <ul class="p-3 m-0">
          <select name="category" id="category" class="mb-2 form-select" aria-label="Select Category">
            <option selected value="furnitures">Furniture</option>
            <option value="electronics">Electronics</option>
            <option value="toys">Toys</option>
          </select>
          <div class="d-flex gap-2">
            <li class="input-group col">
              <span class="input-group-text" >
                <i class="fa-solid fa-dollar"></i>
              </span>
              <input
                type="text"
                class="form-control input-dark"
                placeholder="Min price"
              />
            </li>
            <li class="input-group col">
              <span class="input-group-text" >
                <i class="fa-solid fa-dollar"></i>
              </span>
              <input
                id="price-max"
                type="text"
                class="form-control"
                placeholder="Max price"
              />
            </li>
          </div>
        </form>
      </div>

      <!-- Render product cards -->
      <main></main>
    </div>
  </body>
</html>
