<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/styles/cards.css" type="text/css" />

    <!-- App JS -->
    <script type="text/javascript" src="../public/scripts/app.js"></script>

    <title>Home Page</title>
    <%- include('partials/_meta') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="d-flex flex-column gap-2 p-2">
      <!-- Searchbar  -->
      <div class="w-100 d-flex align-items-center gap-3 pb-2">

        <form class="form-floating w-100">
          <div class="input-group">
            <span class="input-group-text">
              <i
                class="fa-solid fa-search"
              ></i
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Search for items"
            />
          </div>
        </form>

        <div class="btn-group">
          <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filter-form"
            aria-controls="filter-form"
            aria-expanded="false"
            aria-label="Toggle filter form"
            class="btn btn-primary dropdown-toggle"
          >
            <i role="button" class="fa-solid fa-filter"></i>
          </button>
        </div>
      </div>

      <!-- Filter form, opens on filter btn press -->
      <div
        class="collapse rounded border-dark-subtle border border-1"
        id="filter-form"
      >
        <ul class="d-flex gap-2 p-3 m-0">
          <li class="input-group col">
            <span class="input-group-text" >
              <i
                class="fa-solid fa-dollar"
              ></i
            ></span>
            <input
              type="text"
              class="form-control input-dark"
              placeholder="Min price"
            />
          </li>
          <li class="input-group col">
            <span class="input-group-text" >
              <i
                role="button"
                data-bs-content="Top popover"
                class="fa-solid fa-dollar"
              ></i
            ></span>
            <input
              id="price-max"
              type="text"
              class="form-control"
              placeholder="Max price"
            />
          </li>
        </div>
      </div>

      <!-- Render product cards (sample placeholder) -->
      <main> 
        <div class="container">
          <div class="row">
         
            <section class="cards"></section>
            
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
