<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <%- include('partials/_meta') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main class="d-flex flex-column gap-2 p-2">
      <header class="my-2">
        <h1 class="h3">Login</h1>
        <hr class="mb-0" />
      </header>

      <!-- Login Form -->
      <form
        id="form"
        method="POST"
        action="/api/auth/login"
        class="d-flex flex-column gap-2 needs-validated"
        novalidate
      >
        <% if(error){%>
          <div class="card text-bg-warning ">
            <div class="card-body text-warning-subtle">
              <i class="fa-solid fa-warning"></i></span>
             <%= error%>
            </div>
          </div>
        <%}%>

        <div class="input-group">
          <span class="input-group-text"> <i class="fa-solid fa-at"></i></span>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Email"
            name="email"
            required
          />
          <div class="invalid-feedback">Please enter your email</div>
        </div>

        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-lock"></i
          ></span>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            name="password"
            required
          />
          <div class="invalid-feedback">Please enter your password</div>
        </div>

        <div class="w-100">
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
      </form>
    </main>
  </body>
</html>
