<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Post</title>
    <%- include('partials/_meta') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main class="d-flex flex-column gap-2 p-2">
      <header class="my-2">
        <h1 class="h3">Signup</h1>
        <hr class="mb-0" />
      </header>

      <!-- Signup Form -->
      <form
        id="form"
        class="d-flex flex-column gap-2 needs-validated"
        novalidate
      >
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-user"></i
          ></span>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Username"
            required
          />
          <div class="invalid-feedback">Please enter your username</div>
        </div>
        <div class="input-group">
          <span class="input-group-text"> <i class="fa-solid fa-at"></i></span>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            required
          />
          <div class="invalid-feedback">Please enter your email</div>
        </div>

        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-lock"></i
          ></span>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            required
          />
          <div class="invalid-feedback">Please enter your password</div>
        </div>

        <div class="w-100">
          <button type="submit" class="btn btn-primary w-100">Signup</button>
        </div>
      </form>
    </main>
  </body>
</html>
